.middile{
 display: flex;
 padding-top: 85px;
 align-items: center;
 margin: 0 auto;
 width: 1280px;
 height: 474px;
 background-color:$--fff-color;
 border-radius: 10px;
 margin-bottom: 85px;
 position: relative;
 width: 1280px;
 height: 474px;
 top: 180px;
}

.middile .type__img{
 margin: 0;
 position: absolute;
 width: 445px;
 height: 474px;
 left: 760px;
 bottom: 100px;
}

.middile .type__box{
 margin-right: 125px;
 position: absolute;
 left: 123px;
 bottom: 170px;
}

.middile .type__taitl{
 color: $--fff-color;
 height: 48px;
}

.middile .type__text{
 color:$--fff-color;
}
